@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <br />
        @if (Model.Exception != null)
        {
            <h4>Exception:</h4>
            <p>@Model.Exception.Message</p>
        }
        @if (Model.Exception != null && Model.Exception.InnerException != null)
        {
            <h4>Inner Exception: </h4>
            <p>@Model.Exception.InnerException.Message</p>
        }
        <pre>
@Model.Exception.StackTrace
        </pre>
    </hgroup>
</body>
</html>
